@model DataLayer.PageGroup

@{
    ViewBag.Title = "Delete";
}


<h3>آیا از حذف "@Model.Title" مطمئن هستید؟</h3>
<hr/>
<div>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="حذف گروه" class="btn btn-danger" /> 
        </div>
    }
</div>
